<!doctype html>
<title>Классическая CLUEDO</title>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
<script type="text/javascript">
          $(document).ready(
		  function(){
			  $('.playercolor').click(
			      function(e) {
				      $(e.currentTarget).parent().children().removeClass('active');
				      $(e.currentTarget).addClass('active');
				      $('input.color').val($(e.currentTarget).val());
			      });
		  }
	  );
</script>
<div class="container">
   <form class="form-newgame">
	<h2>Классическая CLUEDO</h2>
	<h4 class="players-heading">Открытые карты:</h4>
	<div class="b-opencards">
	    <ul class="list">
		<li class="item opencards" style="background: #ff0000;" value="0"></li>
	    </ul>
	</div>
	<div class="radio">
	    <label><input name="players" id="players_3" type="radio" value="3" required>3</label>
	    <label><input name="players" id="players_4" type="radio" value="4" required>4</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Показать</button>
   </form>
</div>
