<!doctype html>
<title>Классическая CLUEDO</title>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
<script type="text/javascript">
          $(document).ready(
		  function(){
			  $('.playercolor').click(
			      function(e) {
				      $(e.currentTarget).parent().children().removeClass('active');
				      $(e.currentTarget).addClass('active');
				      $('input.color').val($(e.currentTarget).val());
			      });
		  }
	  );
</script>
<div class="container">
   <form class="form-newgame form-small" method="POST">
	{% if not game['freecolors'] %}
		<h3 class="control-label">Идет игра, подождите завершения!</h3>
	{% else %} <!-- can connect -->

		{% if not game['players'] %} <!-- no game -->
		<div class="row borded">
		  <h3 class="control-label">Создание игры</h3>
		</div>
			<h4 class="players-heading control-label">Количество играков:</h4>
			<div class="row borded">
				 <div class="radio borded control-label">
					<div class="col-xs-3">
					     <label><input name="players" id="players_3" type="radio" value="3" required>3</label>
					</div>
					<div class="col-xs-3">
					    <label><input name="players" id="players_4" type="radio" value="4" required>4</label>
					</div>
					<div class="col-xs-3">
					    <label><input name="players" id="players_5" type="radio" value="5" required>5</label>
					</div>
					<div class="col-xs-3">
					    <label><input name="players" id="players_6" type="radio" value="6" required>6</label>
					 </div>
				</div>
		       </div>
		{% else %}  <!-- there is a game -->
		<h3 class="control-label">Подключение к игре</h3>
		{% endif %}
		<h4 class="colors-heading control-label">Ваш цвет:</h4>
		<div class="row borded">
		    <div class="b-colorpicker control-label">
			    <ul class="list padding-0">
				{% for key, value in game['freecolors'].iteritems() %}
				<li class="item playercolor" style="background: {{value}};" value="{{key}}"></li>
				{% endfor %}
			    </ul>
			<input name="color" id="color" class="color" type="text" style="display: none;" required>
		    </div>
		</div>
		<h4 class="colors-heading control-label">Ваш имя:</h4>
		<div class="row borded col-xs-6 col-lg-6 col-lg-offset-3">
		 <input name="name" id="name" type="text"class="form-control" required autofocus>
		</div>
		{% if not game['players'] %} <!-- no game -->
		<button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
		{% else %}  <!-- there is a game -->
		<button class="btn btn-lg btn-primary btn-block" type="submit">Подключится</button>
		{% endif %}
	{% endif %}
 </form>
</div>
