<!doctype html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cluedo</title>
    <link rel="apple-touch-icon" sizes="57x57" href="static/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="static/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="static/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="static/favicons/manifest.json">
    <link rel="mask-icon" href="static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="static/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="static/favicons/favicon.ico">
    <!-- Bootstrap -->
    		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
          $(document).ready(
		  function(){
			  $('.playercolor').click(
			      function(e) {
				      $(e.currentTarget).parent().children().removeClass('active');
				      $(e.currentTarget).addClass('active');
				      $('input.color').val($(e.currentTarget).val());
			      });
		  }
	  );
</script>
</head>
<body style="font-size:14px">
<div class="container">
   <form class="form-newgame form-small" method="POST">
	{% if not game['freecolors'] %}
		<h3 class="control-label">Идет игра, подождите завершения!</h3>
	{% else %} <!-- can connect -->

		{% if not game['players'] %} <!-- no game -->
		<div class="row borded">
		  <h3 class="control-label">Создание игры</h3>
		</div>
			<h4 class="players-heading control-label">Количество играков:</h4>
			<div class="row borded">
				 <div class="radio borded control-label">
					<div class="col-xs-3">
					     <label><input name="players" id="players_3" type="radio" value="3" required>3</label>
					</div>
					<div class="col-xs-3">
					    <label><input name="players" id="players_4" type="radio" value="4" required>4</label>
					</div>
					<div class="col-xs-3">
					    <label><input name="players" id="players_5" type="radio" value="5" required>5</label>
					</div>
					<div class="col-xs-3">
					    <label><input name="players" id="players_6" type="radio" value="6" required>6</label>
					 </div>
				</div>
		       </div>
		{% else %}  <!-- there is a game -->
		<h3 class="control-label">Подключение к игре</h3>
		{% endif %}
		<h4 class="colors-heading control-label">Ваш цвет:</h4>
		<div class="row borded">
		    <div class="b-colorpicker control-label">
			    <ul class="list col-lg-4 col-lg-offset-4">
				{% for key, value in game['freecolors'].iteritems() %}
				<li class="item playercolor" style="background: {{value}};" value="{{key}}"></li>
				{% endfor %}
			    </ul>
			<input name="color" id="color" class="color" type="text" style="display: none;" required>
		    </div>
		</div>
		<h4 class="colors-heading control-label">Ваше имя:</h4>
		<div class="row borded col-lg-4 col-lg-offset-4">
		 <input name="name" id="name" type="text" class="form-control" required autofocus>
		</div>
		{% if not game['players'] %} <!-- no game -->
		<button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
		{% else %}  <!-- there is a game -->
		<button class="btn btn-lg btn-primary btn-block" type="submit">Подключиться</button>
		{% endif %}
	{% endif %}
 </form>
</div>
</body>
</html>
