<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Классическая CLUEDO</title>

    <!-- Bootstrap -->
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='bootbox.min.js') }}"></script>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
         function getconnected(){
	        $(".btn-danger").click(function() { window.location.replace($SCRIPT_ROOT + '/check'); });
		$.getJSON($SCRIPT_ROOT + '/getconnected').done(function(json){
		    $('#players').empty();
		    var all = false;
		    $.each(json, function(index, element) {
		       if (element.color < 0) all = true;
		       $('#players').append("<div class='col-xs-"+Math.floor(12/json.length)+" control-label'> <li class='item playercolor' style='background:" + element.web_color + " ;' value='" + element.color + "'></li><label>" + element.name + "</label></div>");
		    });
		    if (all) setTimeout(getconnected, 3000);
		    else{
			  $(function() {
			   $(".btn-primary").click(function(){
				if ($('input[name=card]:checked', '.form-main').parent().text() == "")
					bootbox.alert("Выберите одну из ваших карт!");
				else if ($('.playercolor.active').next().text() == "")
					bootbox.alert("Выберите Игрока, которому хотите показать карту!");
				else 
					bootbox.confirm("Отправить <b>" + $('input[name=card]:checked', '.form-main').parent().text() +"</b> для <b>" + $('.playercolor.active').next().text()+ "</b>  ?", function(result) {
					    if (result) $('.form-main').submit();
					});
			   });
			  });
			  $('.playercolor').click(
			      function(e) {
				      $('.playercolor').removeClass('active');
				      $(e.currentTarget).addClass('active');
				      $('input.color').val($(e.currentTarget).val());
			  });
			  getshows();
		    }
		    return false;
		});
         } 
         function getshows(){
		$.getJSON($SCRIPT_ROOT + '/show').done(function(json){
		    if (Object.keys(json).length) {
			if (json.good !== undefined){ //if check!
				if (json.good == 1)
					bootbox.dialog({message: "<b>" + json.cards_name.join(", ") + "</b>", title: "Верное обвинение от <b>" + json.sender_name + "</b>", buttons: {success: { label: "Ура!!! " + json.sender_name ,  className: "btn-success"}}});
				else
					bootbox.dialog({message: "<b>" + json.cards_name.join(", ") + "</b>" , title: "Неверное обвинение от <b>" + json.sender_name + "</b>", buttons: {success: { label: "Эх, " + json.sender_name ,  className: "btn-danger"}}});
		        }else{ //if show
				bootbox.dialog({message: "<b>" + json.card_name + "</b>", title: json.sender_name});
			}
		    }
		    setTimeout(getshows, 4000);
		    return false;
		});
          }
          $(document).ready(getconnected);
</script>
  </head>
  <body style="font-size:14px">
  <div class="container center_div">
   <form class="form-main form-small" action="/show" method="POST">
	<div class="borded">
	 {% if game['opencards']|length > 0 %}
	 	<h4 class="opencards-heading control-label">Открытые карты:</h4>
	 	{% for key, value in game['opencards'].iteritems() %}
	 	    <div class="col-xs-12">
	 	    	<h5 control-label> {{value}} </h5>
	 	    </div>
	 	{% endfor %}
	 {% else %}
	 	<h4 class="opencards-heading control-label">Нет открытых карт</h4>
	 {% endif %}
        </div>	
	<div class="borded">
		<h4 class="playercards-heading control-label">Ваши карты:</h4>
		<div class="radio borded">
		    {% for key, value in game['playercards'].iteritems() %}
		    <label class="col-xs-12"><input name="card" id="card_{{key}}" type="radio" value="{{key}}" required>{{value}}</label>
		    {% endfor %}
		</div>
	</div>
	<h4 class="colors-heading control-label">Игроки:</h4>
		<div class="row borded">
		    <div class="b-colorpicker control-label">
			    <ul class="list col-lg-4 col-lg-offset-4" id="players"></ul>
			<input name="color" id="color" class="color" type="text" style="display: none;" required>
		    </div>
		</div>
	<div class="row">
		<button class="btn btn-lg btn-primary btn-block" type="button">Показать</button>
		<button class="btn btn-lg btn-danger btn-block" type="button">Обвинить</button>
	</div>
   </form>
</div>
 </body>
</html>
