<!doctype html>
<title>Классическая CLUEDO</title>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='my.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
         function getconnected(){
		$.getJSON($SCRIPT_ROOT + '/getconnected').done(function(json){
		    $('#players').empty();
		    var all = false;
		    $.each(json, function(index, element) {
		       if (element.color < 0) all = true;
		       $('#players').append(" <label ><li class='item playercolor' style='background:" + element.web_color + " ;' value='" + element.color + "'></li>" + element.name + "</label>");
		       });
		    if (all) setTimeout(getconnected, 3000);
		    return false;
		});
          }; 
          $(document).ready(
		  function(){
			  $('.playercolor').click(
			      function(e) {
				      $(e.currentTarget).parent().children().removeClass('active');
				      $(e.currentTarget).addClass('active');
				      $('input.color').val($(e.currentTarget).val());
			      });
		  }
	  );
          $(document).ready(getconnected);
</script>
<div class="container">
   <form class="form-main form-small" method="POST">
	<div class="borded">
	 {% if game['opencards']|length > 0 %}
	 	<h4 class="opencards-heading control-label">Открытые карты:</h4>
	 	{% for key, value in game['opencards'].iteritems() %}
	 	    <div class="col-xs-12">
	 	    	<h5 control-label> {{value.decode('utf-8')}} </h5>
	 	    </div>
	 	{% endfor %}
	 {% else %}
	 	<h4 class="opencards-heading control-label">Нет открытых карт</h4>
	 {% endif %}
        </div>	
	<div class="borded">
		<h4 class="playercards-heading control-label">Ваши карты:</h4>
		<div class="radio borded">
		    {% for key, value in game['playercards'].iteritems() %}
		    <label class="col-xs-12"><input name="card" id="card_{{key}}" type="radio" value="{{key.decode('utf-8')}}" required>{{value.decode('utf-8')}}</label>
		    {% endfor %}
		</div>
	</div>
	<h4 class="colors-heading control-label">Игроки:</h4>
		<div class="row borded">
		    <div class="b-colorpicker control-label">
			    <ul class="list padding-0" id="players"></ul>
			<input name="color" id="color" class="color" type="text" style="display: none;" required>
		    </div>
		</div>
	<div class="row">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Показать</button>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Обвинить</button>
	</div>
   </form>
</div>
