<!doctype html>
<title>Классическая CLUEDO</title>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='my.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
         function getconnected(){
	        $(".btn-danger").click(function() { window.location.replace($SCRIPT_ROOT + '/check'); });
		$.getJSON($SCRIPT_ROOT + '/getconnected').done(function(json){
		    $('#players').empty();
		    var all = false;
		    $.each(json, function(index, element) {
		       if (element.color < 0) all = true;
		       $('#players').append("<div class='col-xs-"+Math.floor(12/json.length)+" control-label'> <li class='item playercolor' style='background:" + element.web_color + " ;' value='" + element.color + "'></li><label>" + element.name + "</label></div>");
		    });
		    if (all) setTimeout(getconnected, 3000);
		    else{
			  $('.playercolor').click(
			      function(e) {
				      $('.playercolor').removeClass('active');
				      $(e.currentTarget).addClass('active');
				      $('input.color').val($(e.currentTarget).val());
			  });
			  getshows();
		    }
		    return false;
		});
         } 
         function getshows(){
		$.getJSON($SCRIPT_ROOT + '/show').done(function(json){
		    if (Object.keys(json).length) {
			if (json.good !== undefined){ //if check!
				if (json.good == 1)
					$('.modal-title').text("Верное обвинение от " + json.sender_name);
				else
					$('.modal-title').text("Не верное обвинение от " + json.sender_name);
				$('.modal-body').text(json.cards_name.join(", "));
				$('#myModal').modal({});
		        }else{ //if show
				$('.modal-title').text("От " + json.sender_name);
				$('.modal-body').text(json.card_name);
				$('#myModal').modal({});
			}
		    }
		    setTimeout(getshows, 4000);
		    return false;
		});
          }
          $(document).ready(getconnected);
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
<div class="container center_div">
   <form class="form-main form-small" action="/show" method="POST">
	<div class="borded">
	 {% if game['opencards']|length > 0 %}
	 	<h4 class="opencards-heading control-label">Открытые карты:</h4>
	 	{% for key, value in game['opencards'].iteritems() %}
	 	    <div class="col-xs-12">
	 	    	<h5 control-label> {{value.decode('utf-8')}} </h5>
	 	    </div>
	 	{% endfor %}
	 {% else %}
	 	<h4 class="opencards-heading control-label">Нет открытых карт</h4>
	 {% endif %}
        </div>	
	<div class="borded">
		<h4 class="playercards-heading control-label">Ваши карты:</h4>
		<div class="radio borded">
		    {% for key, value in game['playercards'].iteritems() %}
		    <label class="col-xs-12"><input name="card" id="card_{{key}}" type="radio" value="{{key}}" required>{{value}}</label>
		    {% endfor %}
		</div>
	</div>
	<h4 class="colors-heading control-label">Игроки:</h4>
		<div class="row borded">
		    <div class="b-colorpicker control-label">
			    <ul class="list padding-0" id="players"></ul>
			<input name="color" id="color" class="color" type="text" style="display: none;" required>
		    </div>
		</div>
	<div class="row">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Показать</button>
		<button class="btn btn-lg btn-danger btn-block" type="submit">Обвинить</button>
	</div>
   </form>
</div>
